[submodule "slides/reveal.js"]
	path = slides/reveal.js
	url = https://github.com/OxfordRSE/reveal.js.git
[submodule "slides/lua-filters"]
	path = slides/lua-filters
	url = https://github.com/pandoc/lua-filters.git
